---
layout: default
title: News
---

<div class="recent-news">

    <div class="content ">
        <h2 class="breakthrough">Recent <span class="pill blue-pill">&nbsp;</span><br /><span class="pill green-pill">&nbsp;</span> News</h2>

        <ul>

            {% for post in site.posts %}
            <li>
                <a href="{{ post.url}}">
                    {% if post.image %}
                    <img src="/assets/images/{{ post.image }}" />
                    {% endif %}

                    <p class="title">{{post.title}}</p>
                    {% if post.date %}
                    <p class="date">{{post.date | date: "%-d %B %Y"}}</p>
                    {% endif %}

                    <p class="excerpt">{{ post.content | strip_html | truncatewords: 50 }}</p>

                    <p class="read-more">READ MORE&nbsp;<img src="../assets/images/arrow-right.svg" /></p>

                </a>
            </li>
            {% endfor %}

            <li>
                <a target="_blank" href="https://energydigital.com/articles/how-hydrogen-powers-the-global-decarbonisation-revolution">
                    <p class="title">How Hydrogen Powers the Global Decarbonisation Revolution</p>
                    <p class="date">Oct 9, 2024</p>
                    <p class="excerpt">As the hydrogen economy continues to evolve, innovative technologies are emerging to make hydrogen production more efficient and cost-effective. One company at the forefront of this innovation is ETCH, co-founded by Dr Jonah Erlebacher.…</p>
                    <p class="read-more">READ MORE&nbsp;<img src="../assets/images/arrow-right.svg" /></p>
                </a>
            </li>

            <li>
                <a target="_blank" href="https://www.realclearenergy.org/articles/2024/02/12/the_hydrogen_tax_credit_will_stimulate_innovation_not_stymie_implementation_1011332.html">
                    <p class="title">The Hydrogen Tax Credit Will Stimulate Innovation, Not Stymie Implementation</p>
                    <p class="date">Feb 12, 2024</p>
                    <p class="excerpt">The best path forward for the clean energy transition has long divided opinion, but the extremes in the reactions to the White House's recent hydrogen production tax credit&hellip;</p>
                    <p class="read-more">READ MORE&nbsp;<img src="../assets/images/arrow-right.svg" /></p>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.axios.com/pro/climate-deals/2023/07/25/etch-hydrogen-jonah-erlebacher-emerald-decarbonization">
                    <p class="title">Axios Exclusive: ETCH Raises $7.5M For Ultra-cheap Natural Gas Decarbonization</p>
                    <p class="date">Jul 25, 2023</p>
                    <p class="excerpt">Baltimore startup ETCH closed at $7.5 million seed round to build what is says are efficient systems to decarbonize natural gas, the company tells Axios&hellip;</p>
                    <p class="read-more">READ MORE&nbsp;<img src="../assets/images/arrow-right.svg" /></p>
                </a>
            </li>
        </ul>

    </div>

</div>

