<div class="container-footer">

    <div class="footer">

        <div class="left">
            <p>ETCH, Inc.</p>
            <a href="/privacy-policy">Privacy Policy</a><br />
            <a href="mailto:info@etchmaterials.com">info@etchmaterials.com</a>
            <p class="copyright">&copy; Copyright ETCH, Inc. | All rights reserved</p>
        </div>

        <div class="middle">

        </div>

        {% if page.url != "/" %}
        <!--
            <div class="right">
                <p class="section-title">
                    GET UPDATES
                </p>
                <form accept-charset="UTF-8" action="https://formkeep.com/f/fee60f61a0ee" method="POST">
                    <input type="text" name="name" placeholder="Name">
                    <input type="text" name="company" placeholder="Company">
                    <input type="email" name="email" placeholder="Email Address">
                    <input type="hidden" name="utf8" value="✓">
                    <button class="submit" type="submit">Submit</button>
                </form>
            </div>
        -->
        {% endif %}

    </div>

    <!--
    <div class="copyright">

        <p>&copy; Copyright ETCH, Inc.</p>
    </div>
    -->

</div>