@font-face {
    font-family: 'made_outer_sans_medium';
    src: url('../fonts/made_outer_sans_medium-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_black';
    src: url('../fonts/made_outer_sans_black-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_outline_black';
    src: url('../fonts/made_outer_sans_outline_black-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_outline_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_bold';
    src: url('../fonts/made_outer_sans_bold-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_outline_bold';
    src: url('../fonts/made_outer_sans_outline_bold-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_outline_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_light';
    src: url('../fonts/made_outer_sans_light-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_outline_light';
    src: url('../fonts/made_outer_sans_outline_light-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_outline_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_outline_medium';
    src: url('../fonts/made_outer_sans_outline_medium-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_outline_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_regular';
    src: url('../fonts/made_outer_sans_regular-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_outline_regular';
    src: url('../fonts/made_outer_sans_outline_regular-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_outline_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_thin';
    src: url('../fonts/made_outer_sans_thin-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_outline_thin';
    src: url('../fonts/made_outer_sans_outline_thin-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_outline_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_alt_black';
    src: url('../fonts/made_outer_sans_alt_black-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_alt_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_outline_alt_black';
    src: url('../fonts/made_outer_sans_outline_alt_black-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_outline_alt_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_alt_bold';
    src: url('../fonts/made_outer_sans_alt_bold-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_alt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_alt_light';
    src: url('../fonts/made_outer_sans_alt_light-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_alt_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_alt_medium';
    src: url('../fonts/made_outer_sans_alt_medium-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_alt_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_alt_regular';
    src: url('../fonts/made_outer_sans_alt_regular-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_alt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'made_outer_sans_alt_thin';
    src: url('../fonts/made_outer_sans_alt_thin-webfont.woff2') format('woff2'), url('../fonts/made_outer_sans_alt_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir45Book';
    src: url('../fonts/Avenir45Book.woff2') format('woff2'), url('../fonts/Avenir45Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir95Black';
    src: url('../fonts/Avenir95Black.woff2') format('woff2'), url('../fonts/Avenir95Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
