.reverse-rfp {

  .content {

    h2 {
      line-height: 1.3em;
      max-width: 100%;
      margin: 0 0 80px 0;
      font-size: 72px;

      @media screen and (min-width: 700px) {
        margin: 0 0 50px 0;
        font-size: 92px;
      }

      .pill {
        vertical-align: bottom;
        margin-bottom: 14px;
        display: inline-block;
        border-radius: 60px;
        display: inline-block;
        width: 100%;
        height: 60px;
        margin-bottom: 18px;

        @media screen and (min-width: 700px) {
          height: 72px;
          margin-bottom: 22px;
        }
      }

      .blue-pill {
        background-color: #82CED8;
        max-width: 240px;
      }

      .green-pill {
        background-color: #F17A2C;
        max-width: 140px;
      }
    }
  }
}

.feature-content {
  max-width: 800px;
  margin: 2rem auto;

  p {
    font-size: 20px;
  }
}

.rfp-form {

  textarea {
    height: 400px;
  }

  .timeline {
    clear: both;
    width: 100%;
    margin-bottom: 30px;

    select {
      option {
        color: black;
      }

      &:invalid {
        color: #606060;
      }
    }
  }
}

.process-container {
  #process {
    position: relative;
    overflow: hidden;
    min-height: 500px;

    > div {
      display: none;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      transition: transform 0.5s ease-in-out;
      align-items: center;
      flex-direction: column;

      @media screen and (min-width: 900px) {
        flex-direction: row;
      }

      &.active {
        display: flex;
      }

      &.slide-out-left {
        display: flex;
        transform: translateX(-100%);
      }

      &.slide-out-right {
        display: flex;
        transform: translateX(100%);
      }

      .col {
        flex: 1;
        padding: 10px 0;

        @media screen and (min-width: 900px) {
          flex-direction: row;
          padding: 60px 30px 60px 0;
        }

        .slide-title {
          text-transform: uppercase;
          font-size: 24px;
          font-family: Avenir95Black, Arial, sans-serif;

          @media screen and (min-width: 500px) {
            font-size: 32px;
          }
        }

        .illustration {
          width: 100%;
          padding: 0;
          max-width: 600px;

          @media screen and (min-width: 500px) {
            padding: 30px;
          }
        }

        ul.highlights {
          margin: 0 0 60px 0;

          li {
            font-size: 18px;
            font-family: Avenir95Medium, Arial, sans-serif;
            font-weight: 400;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}